<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{ book.title }}</h2>
                    <p>{{ book.created_at }}</p>
                    <p>
                        <a class="btn btn-warning" routerLink="/update/{{book.id}}">Редактировать</a>
                        <a class="btn btn-danger" (click)="delete(book); $event.stopPropagation()">Удалить</a>
                    </p>
                    <p>
                        <img src = "{{ book.src }}" class="img-responsive img-rounded">
                    </p>
                    <p>{{ book.description }}</p>
                    <p><b>{{ book.author }}</b></p>
                    <p>
                        <a class="btn btn-default" [routerLink]="['/books']">back</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>